* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
:root{
  --bg-back:#fef9f6;
  --text-gray:#797a7d;
  --saffron:#ff8200;
  --card-bg:#fbf4e8;
  --text-primary:#1e100b;
  --white-text:#f7efe6;
  --shade-text:#484747;
}

body{
  background-color: var(--bg-back);
  max-height: 1300px;
  padding-bottom: 500px;
}
/*------------navbar section----------*/
#nav-sec{
  width: 100%;
  height: 60px;
  padding: 0 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.brand-logo{
  font-size: 1.6rem;
  font-weight: 600;

  text-decoration: none;
  color: var(--text-primary);
}
.hub{
  color: var(--saffron);
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav-link{
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  transition: 0.3s ease;
}
.nav-list li:hover .nav-link{
  color: var(--saffron);
}
.signup{
  text-decoration: none;
  color: var(--white-text);
  background-color: var(--saffron);
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 500;
}
.signup:hover,
.cta:hover{
  background-color: var(--bg-back);
  color: var(--saffron);
  border: 2px solid var(--saffron);
}
.side-nav{
  display: none;
  width: 200px;
  height: 100vh;
  background-color: var(--bg-back);
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 70px;
  z-index: 1000;
}
.fa-solid{
  font-size: 1.5rem;
}
@media screen and (max-width:768px) { 
  .land-nav{
    display:none
  }
}
/*----------hero-section--------------*/

#home{
  padding: 5em 5em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}
.hero-context{
  width: 50%;
  padding: 0 2em;
}
.tag{
  color: var(--saffron);
  font-size: 0.7rem;
  font-weight: 500;
}
.headline{
  font-size: 3rem;
  font-weight: 700;
}
.subhead{
  font-size: 0.7rem;
  font-weight: 500;
  max-width: 430px;
  color: var(--text-gray);
  margin-top: 20px;
}
.order-sec{
  margin-top: 40px;
}
.cta{
  background-color: var(--saffron);
  text-decoration: none;
  color: var(--white-text);
  padding: 0.5em 1.5em;
  border-radius: 10px;
  font-weight: 500;
  margin-right: 15px;
}
.explore{
  background-color: var(--bg-back);
  border: 1px solid var(--saffron);
  color: var(--saffron);
}
.hero-image-sec{
  width: 50%;
}
.hero-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

/*-----------Special section----------*/
#special{
  background: linear-gradient(to bottom,#faeddc,#fcf2e8,#fefaf7);
  padding: 2em;
  width: 100%;
}
.special-heading{
  margin: 0 auto 150px;
  text-align: center;
  max-width: 690px;
}
.special-head{
  font-size: 2rem;
  margin-bottom: 15px;
}
.special-sub{
  font-size: 12px;
  color: var(--text-primary);
}
.special-grid{
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
}
.arrow{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #797a7d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.wrapper{
  margin: auto;
  width: 220px;
  position: relative;
  transition: 0.3s ease;
}
.wrapper:hover{
  transform: scale(1.1);
}
.special-info{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  gap: 5px;
  width: 220px;
  height: 220px;
  padding: 15px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom,#faeddc,#fcf2e8,#fefaf7);
}
.special-img-sec{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #dad5d5;
  position: absolute;
  top: -80px;
  left: 37px;
  border: 2px solid var(--saffron);
  padding: 2px;
}
.special-briyani-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.briyani-name{
  font-size: 19px;
  font-weight: 600;
}
.dish-tag{
  font-size: 12px;
  font-weight: 400;
  color: var(--shade-text);
}
.order-btn{
  background-color: var(--saffron);
  text-decoration: none;
  color: var(--white-text);
  padding: 0.5em 1em;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
}
.order-btn:hover{
  outline: 1px solid var(--saffron);
  outline-offset: 2px;
}
.order-btn:active{
  transform: scale(0.9);
}

/*-------why section-------*/
#whyus{
  margin-top:150px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f7ebdf,#fcf4e9);
  padding: 0 5em;
}
.why-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 5em 0;
}
.choose-context{
  padding-right: 10px;
}
.choose-context h3{
  font-size: 2rem;
  margin-bottom: 15px;
}
.choose-context p{
  max-width: 550px;
  font-size: 13px;
  line-height: 1.8;
  color: var(--shade-text);
  margin-bottom: 50px;
}
.feature-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
}
.feature-card{
  background-color: #fbf4ee;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}
.feature-card:first-child{
  background-color: #f9f0e6de;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.feature-card:hover{
  background-color: #f9f0e6de;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.feature-img{
  width: 60px;
  height: 60px;
}
.feature-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.feature-card h4{
  font-size: 15px;
  font-weight: 600;
}
.feature-card p{
  color: var(--shade-text);
  font-size: 14px;
}
.star{
  width: 50px;
  opacity: 0.8;
}
@media screen (max-width:1240px) {
  
}
/*------------Menu Setion------------*/
#menu{
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 0 5em 5em;
}
.menu-header{
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.menu-head{
  font-size: 2rem;
  margin-bottom: 10px;
}
.menu-sub{
  font-size: 14px;
  color: var(--shade-text);
  max-width: 600px;
  margin: auto;
}
.food-category{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: auto;
}
.food-type{
  text-decoration: none;
  color: var(--text-primary);
  border: 1px solid var(--saffron);
  padding: 0.5em 2em;
  border-radius: 50px;
  margin-bottom: 60px;
  transition: 0.25s ease;
}
.food-type:active{
  background-color: var(--saffron);
  color: var(--white-text);
  border: none;
  transform: scale(1.1);
}
.food-type:hover,
.food-type:nth-child(2){
  background-color: var(--saffron);
  color: var(--white-text);
}
.food-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
}
.food-card{
  width: 250px;
  background: linear-gradient(to bottom, #f7ebdf, #faeddc, #fbf4e8);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 10px;
  margin: auto;
  transition: 0.3s ease;
}
.food-card:hover{
  transform: scale(1.1);
}
.food-img{
  width: 180px;
  height: 180px;
  margin: auto;
}
.food-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 50%;
}
.food-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 15px 0;
}
.food-name{
  font-size: 1rem;
  font-weight: 600;
}
.rating{
  font-size: 14px;
}
.food-desc{
  font-size: 12px;
  text-align: center;
  color: var(--shade-text);
}
.price-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.price{
  font-size: 1.3rem;
  margin-left: 10px;
}
.place-order{
  text-decoration: none;
  background-color: var(--saffron);
  color: var(--white-text);
  padding: 0.3em 1em;
  border-radius: 50px;
  font-size: 15px;
  transition: 0.2s ease-in;
}
.place-order:hover,
.see:hover{
  outline: 2px solid var(--saffron);
  outline-offset: 2px;
}
.place-order:active,
.see:active{
  background-color: var(--bg-back);
  color: var(--saffron);
  border: 1px solid var(--saffron);
  outline: none;
}
/*------------about section----------*/
#about{
  width: 100%;
  padding:  5em;
}
.about-wrapper{
  background-color:var(--bg-back);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.square{
  width: 600px;
  height: 400px;
  background-color: var(--saffron);
  border-radius: 0 999px 999px 0;
  position: relative;
}
.circle{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 999;
  overflow: hidden;
}
.circle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
}
.about-context{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.about-title{
  font-size: 1.5rem;
  font-weight: 500;
}
.about-brief{
  font-size: 13px;
  line-height: 2;
  color: var(--shade-text);
}
.feature-header{
  font-weight: 600;
}
.about-feature{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.possitive{
  font-size: 16px;
}
.feature-logo{
  width: 15px;
  height: 15px;
}
.see{
  width: 150px;
  text-align: center;
}
@media screen and ( max-width: 1024px) {
  .square{
    width: 500px;
    height: 300px;
  }
  .circle{
    width: 250px;
    height: 250px;
    top: 25px;
    right: 30px;
  }
  .about-context{
    gap: 5px;
  }
  .about-title{
    font-size: 1.2rem;
  }
  .about-brief{
    font-size: 11px;
  }
  .about-feature{
    line-height: 1;
  }
  .feature-header{
    font-weight: 500;
  }
  .possitive{
    font-size: 12px;
  }
  .see{
    margin-top: 5px;
    width: 100px;
    font-size: 12px;
  }
}
/*-----------------review section------------*/
#review{
  padding: 2em 0;
  width: 100%;
  background: linear-gradient(to right,#f0f0f0);
}
.review-header{
  text-align: center;
  font-size: 2rem;
}
.review-wrapper{
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.review-context{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.review-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 220px;
  background-color: var(--saffron);
  border-radius: 25px;
  z-index: 50;
  padding: 2px;
  overflow: hidden;
  text-align: justify;
}
.review-box-inner{
  width: 385px;
  height: 205px;
  background-color: var(--bg-back);
  border-radius: 20px;
  padding: 20px;
}
.review-desc{
  font-size: 14px;
  color: var(--shade-text);
}
.review-square{
  position: absolute;
  bottom:-25px;
  width: 50px;
  height: 50px;
  background-color: var(--saffron);
  transform: rotate(45deg);
}
.white{
  background-color: var(--bg-back);
  width: 40px;
  height: 40px;
  bottom: -20px;
  z-index: 51;
}
.reviewers-card{
  width: 100px;
  height: 100px;
  border-radius: 23px;
  padding: 3px;
  outline: 2px solid var(--saffron);
  outline-offset: 2px;
}
.reviewers-card:nth-child(3){
  transform: scale(1.3);
}
.reviewers-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.reviewers-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
/*-----------------footer section------------*/
.foot-wrapper{
  background: linear-gradient(to right,#f7ebdf,#faeddc);
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
}
.social-info{
  max-width: 250px;
  font-size: 13px;
  color: var(--shade-text);
  margin-bottom: 20px;
}
.logo{
  background-color: var(--saffron);
  color: var(--white-text);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 8px;
}
.foot-header{
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.service ul{
  list-style-type: none;
  line-height: 2;
  color: var(--shade-text);
}
.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-head{
  font-size: 1rem;
}
.form-desc{
  font-size: 13px;
  color: var(--shade-text);
}
input[type=email]{
  border: 1px solid var(--saffron);
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}
input::placeholder{
  padding: 10px;
}
.subs{
  width: 100%;
  border: none;
  padding: 10px;
  font-weight: 600;
}