* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
:root {
  --bg-back:#fef9f6;
  --text-gray:#797a7d;
  --crips-orange:#ff8200;
  --card-bg:#282828;
  --text-primary:#1e100b;
  --white-text:#f0f0f0;
  --card-bg:#fbf4e8;
  --shade-text:#484747;
}
body{
  background-color: var(--bg-back);

  padding-bottom: 1000px;
}
header{
  background-color: #fff;
  box-shadow: 10px 10px 20px #c6c0c032, 10px 10px 15px #dad5d5;
  padding: 0 2em;
  border-radius: 50px;
  margin: 0 3em;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
nav ul{
  display: flex;
  list-style-type: none;
}
li a{
  text-decoration: none;
  padding: 1.5em;
  color: var(--text-primary);
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s ease;
}
nav ul li a:hover{
  color: var(--crips-orange);
}
.active{
  color: var(--crips-orange);
}
.shop-sec{
  padding: 1em ; 
}
.head-logo{
  color: var(--text-primary);
  margin-right: 25px;
}
.signup{
  background-color: var(--crips-orange);
  text-decoration: none;
  padding: 8px 12px;
  color: var(--white-text);
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s ease;
}
.signup:hover{
  font-size: 1rem;
}

/*----------hero-section--------------*/

#home{
  padding: 0 3em;
  width: 100%;
  height: 100vh;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-context{
  width: 50%;
  padding: 0 2em;
}
.tag{
  color: var(--crips-orange);
  font-size: 0.7rem;
  font-weight: 500;
}
.headline{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}
.subhead{
  font-size: 0.7rem;
  font-weight: 500;
  max-width: 430px;
  color: var(--text-gray);
  margin-top: 20px;
}
.order-sec{
  margin-top: 40px;
}
.cta{
  background-color: var(--crips-orange);
  text-decoration: none;
  color: var(--white-text);
  padding: 0.5em 1.5em;
  border-radius: 10px;
  font-weight: 500;
  margin-right: 15px;
}
.explore{
  background-color: var(--bg-back);
  border: 1px solid var(--crips-orange);
  color: var(--crips-orange);
}
.hero-image-sec{
  width: 50%;
}
.hero-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------Special section----------*/
#special{
  background: linear-gradient(to bottom,#faeddc,#fcf2e8,#fefaf7);
  padding: 2em;
  width: 100%;
  height: 100%;
}
.special-heading{
  margin: 0 auto 150px;
  text-align: center;
  width: 690px;
}
.special-head{
  font-size: 2rem;
  margin-bottom: 15px;
}
.special-sub{
  font-size: 12px;
  color: var(--text-primary);
}
.special-grid{
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
}
.arrow{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #797a7d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.wrapper{
  margin: auto;
  width: 220px;
  position: relative;
}
.special-info{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  gap: 5px;
  width: 220px;
  height: 220px;
  padding: 15px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom,#faeddc,#fcf2e8,#fefaf7);
}
.special-img-sec{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #dad5d5;
  position: absolute;
  top: -80px;
  left: 37px;
  border: 2px solid var(--crips-orange);
  padding: 2px;
}
.special-briyani-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.briyani-name{
  font-size: 19px;
  font-weight: 600;
}
.dish-tag{
  font-size: 11px;
  font-weight: 400;
  color: var(--shade-text);
}
.order-btn{
  background-color: var(--crips-orange);
  text-decoration: none;
  color: var(--white-text);
  padding: 0.5em 1em;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
}
.order-btn:hover{
  outline: 1px solid var(--crips-orange);
  outline-offset: 2px;
}
.order-btn:active{
  transform: scale(0.9);
}

/*-------why section-------*/
#whyus{
  margin-top:150px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f7ebdf,#fcf4e9);
  padding: 0 5em;
}
.why-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 5em 0;
}
.choose-context{
  padding-right: 10px;
}
.choose-context h3{
  font-size: 2rem;
  margin-bottom: 15px;
}
.choose-context p{
  max-width: 550px;
  font-size: 13px;
  line-height: 1.8;
  color: var(--shade-text);
  margin-bottom: 50px;
}
.feature-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
}
.feature-card{
  background-color: #fbf4ee;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.feature-card:first-child{
  background-color: #f9f0e6de;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.feature-card:hover{
  background-color: #f9f0e6de;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.feature-img{
  width: 60px;
  height: 60px;
}
.feature-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.feature-card h4{
  font-size: 15px;
  font-weight: 600;
}
.feature-card p{
  color: var(--shade-text);
  font-size: 14px;
}
.star{
  width: 50px;
  opacity: 0.8;
}
/*------------Menu Setion------------*/
#menu{
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 0 5em;
}
.menu-header{
  padding-top: 50px;
  text-align: center;
}
.menu-head{
  
}