* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
:root {
  --bg-back:#fef9f6;
  --text-gray:#797a7d;
  --crips-orange:#ff8200;
  --card-bg:#282828;
  --text-primary:#1e100b;
  --white-text:#f0f0f0;
  --card-bg:#fbf4e8;
  --shade-text:#484747;
}
body{
  background-color: var(--bg-back);
  max-height: 1300px;
}
header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 10px 10px 20px #c6c0c032, 10px 10px 15px #dad5d5;
  padding: 0 2em;
  border-radius: 50px;
  margin: 0 3em;
}
nav{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-logo{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.hub{
  color: var(--crips-orange);
}
nav ul{
  display: flex;
  list-style-type: none;
}
li a{
  text-decoration: none;
  padding: 1.5em;
  color: var(--text-primary);
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s ease;
}
nav ul li a:hover{
  color: var(--crips-orange);
}
.active{
  color: var(--crips-orange);
}
.shop-sec{
  padding: 1em ; 
}
.head-logo{
  color: var(--text-primary);
  margin-right: 25px;
}
.signup{
  background-color: var(--crips-orange);
  text-decoration: none;
  padding: 8px 12px;
  color: var(--white-text);
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s ease;
}
.signup:hover{
  font-size: 1rem;
}

/*----------hero-section--------------*/

#home{
  padding: 0 3em;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-context{
  width: 50%;
  padding: 0 2em;
}
.tag{
  color: var(--crips-orange);
  font-size: 0.7rem;
  font-weight: 500;
}
.headline{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}
.subhead{
  font-size: 0.7rem;
  font-weight: 500;
  max-width: 430px;
  color: var(--text-gray);
  margin-top: 20px;
}
.order-sec{
  margin-top: 40px;
}
.cta{
  background-color: var(--crips-orange);
  text-decoration: none;
  color: var(--white-text);
  padding: 0.5em 1.5em;
  border-radius: 10px;
  font-weight: 500;
  margin-right: 15px;
}
.explore{
  background-color: var(--bg-back);
  border: 1px solid var(--crips-orange);
  color: var(--crips-orange);
}
.hero-image-sec{
  width: 50%;
}
.hero-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

/*-----------Special section----------*/
#special{
  background: linear-gradient(to bottom,#faeddc,#fcf2e8,#fefaf7);
  padding: 2em;
  width: 100%;
  height: 100%;
}
.special-heading{
  margin: 0 auto 150px;
  text-align: center;
  width: 690px;
}
.special-head{
  font-size: 2rem;
  margin-bottom: 15px;
}
.special-sub{
  font-size: 12px;
  color: var(--text-primary);
}
.special-grid{
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
}
.arrow{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #797a7d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.wrapper{
  margin: auto;
  width: 220px;
  position: relative;
}
.special-info{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  gap: 5px;
  width: 220px;
  height: 220px;
  padding: 15px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom,#faeddc,#fcf2e8,#fefaf7);
}
.special-img-sec{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #dad5d5;
  position: absolute;
  top: -80px;
  left: 37px;
  border: 2px solid var(--crips-orange);
  padding: 2px;
}
.special-briyani-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.briyani-name{
  font-size: 19px;
  font-weight: 600;
}
.dish-tag{
  font-size: 12px;
  font-weight: 400;
  color: var(--shade-text);
}
.order-btn{
  background-color: var(--crips-orange);
  text-decoration: none;
  color: var(--white-text);
  padding: 0.5em 1em;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
}
.order-btn:hover{
  outline: 1px solid var(--crips-orange);
  outline-offset: 2px;
}
.order-btn:active{
  transform: scale(0.9);
}

/*-------why section-------*/
#whyus{
  margin-top:150px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f7ebdf,#fcf4e9);
  padding: 0 5em;
}
.why-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 5em 0;
}
.choose-context{
  padding-right: 10px;
}
.choose-context h3{
  font-size: 2rem;
  margin-bottom: 15px;
}
.choose-context p{
  max-width: 550px;
  font-size: 13px;
  line-height: 1.8;
  color: var(--shade-text);
  margin-bottom: 50px;
}
.feature-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
}
.feature-card{
  background-color: #fbf4ee;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.feature-card:first-child{
  background-color: #f9f0e6de;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.feature-card:hover{
  background-color: #f9f0e6de;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.feature-img{
  width: 60px;
  height: 60px;
}
.feature-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.feature-card h4{
  font-size: 15px;
  font-weight: 600;
}
.feature-card p{
  color: var(--shade-text);
  font-size: 14px;
}
.star{
  width: 50px;
  opacity: 0.8;
}
@media screen (max-width:1240px) {
  
}
/*------------Menu Setion------------*/
#menu{
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 0 5em 5em;
}
.menu-header{
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.menu-head{
  font-size: 2rem;
  margin-bottom: 10px;
}
.menu-sub{
  font-size: 14px;
  color: var(--shade-text);
  max-width: 600px;
  margin: auto;
}
.food-category{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: auto;
}
.food-type{
  text-decoration: none;
  color: var(--text-primary);
  border: 1px solid var(--crips-orange);
  padding: 0.5em 2em;
  border-radius: 50px;
  margin-bottom: 60px;
  transition: 0.25s ease;
}
.food-type:active{
  background-color: var(--crips-orange);
  color: var(--white-text);
  border: none;
  transform: scale(1.1);
}
.food-type:hover{
  background-color: var(--crips-orange);
  color: var(--white-text);
}
.food-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
}
.food-card{
  width: 250px;
  background: linear-gradient(to bottom, #f7ebdf, #faeddc, #fbf4e8);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 10px;
  margin: auto;
}
.food-img{
  width: 180px;
  height: 180px;
  margin: auto;
}
.food-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 50%;
}
.food-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 15px 0;
}
.food-name{
  font-size: 1rem;
  font-weight: 600;
}
.rating{
  font-size: 14px;
}
.food-desc{
  font-size: 12px;
  text-align: center;
  color: var(--shade-text);
}
.price-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.price{
  font-size: 1.3rem;
  margin-left: 10px;
}
.place-order{
  text-decoration: none;
  background-color: var(--crips-orange);
  color: var(--white-text);
  padding: 0.3em 1em;
  border-radius: 50px;
  font-size: 15px;
  transition: 0.2s ease-in;
}
.place-order:hover,
.see:hover{
  outline: 2px solid var(--crips-orange);
  outline-offset: 2px;
}
.place-order:active,
.see:active{
  background-color: var(--bg-back);
  color: var(--crips-orange);
  border: 1px solid var(--crips-orange);
  outline: none;
}
/*------------about section----------*/
#about{
  width: 100%;
  padding:  5em;
}
.about-wrapper{
  background-color:var(--bg-back);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.square{
  width: 600px;
  height: 400px;
  background-color: var(--crips-orange);
  border-radius: 0 999px 999px 0;
  position: relative;
}
.circle{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 999;
  overflow: hidden;
}
.circle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
}
.about-context{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.about-title{
  font-size: 1.5rem;
  font-weight: 500;
}
.about-brief{
  font-size: 13px;
  line-height: 2;
  color: var(--shade-text);
}
.feature-header{
  font-weight: 600;
}
.about-feature{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.possitive{
  font-size: 16px;
}
.feature-logo{
  width: 15px;
  height: 15px;
}
.see{
  width: 150px;
  text-align: center;
}
@media screen and ( max-width: 1024px) {
  .square{
    width: 500px;
    height: 300px;
  }
  .circle{
    width: 250px;
    height: 250px;
    top: 25px;
    right: 30px;
  }
  .about-context{
    gap: 5px;
  }
  .about-title{
    font-size: 1.2rem;
  }
  .about-brief{
    font-size: 11px;
  }
  .about-feature{
    line-height: 1;
  }
  .feature-header{
    font-weight: 500;
  }
  .possitive{
    font-size: 12px;
  }
  .see{
    margin-top: 5px;
    width: 100px;
    font-size: 12px;
  }
}
/*-----------------footer section------------*/
.foot-wrapper{
  background: linear-gradient(to right,#f7ebdf,#faeddc);
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
}
.social-info{
  max-width: 250px;
  font-size: 13px;
  color: var(--shade-text);
  margin-bottom: 20px;
}
.logo{
  background-color: var(--crips-orange);
  color: var(--white-text);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 8px;
}
.foot-header{
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.service ul{
  list-style-type: none;
  line-height: 2;
  color: var(--shade-text);
}
.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-head{
  font-size: 1rem;
}
.form-desc{
  font-size: 13px;
  color: var(--shade-text);
}
input[type=email]{
  border: 1px solid var(--crips-orange);
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}
input::placeholder{
  padding: 10px;
}
.subs{
  width: 100%;
  border: none;
  padding: 10px;
  font-weight: 600;
}